<footer class="bd-footer py-5 mt-5 bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
          <img src="https://james.codegym.vn/pluginfile.php/1/theme_remui/logomini/1663404747/icon-small.png" style="margin: 10px 10px 10px 0px">
          <span class="fs-5" style="font-weight: bold">@CodeGym, 2021</span>
        </a>
        <ul class="list-unstyled small text-muted">
          <li><p><b>Hà Nội 1: </b><span style="font-weight: 400">Số 23, Lô TT01, KĐT Mon City, Mỹ Đình 2, Q. Nam Từ Liêm, HN.</span></p></li>
          <li><p><span style="font-weight: 400"><span><strong>Hà Nội 2:</strong> Tầng 2, Tòa Hapulico 17T4, Nguyễn Huy Tưởng, Q. Thanh Xuân, HN.</span></span><span style="font-weight: 400"></span></p></li>
          <li><p><b>Huế</b><span style="font-weight: 400">: Tầng 4, 28 Nguyễn Tri Phương, Phường Phú Nhuận, TP Huế, TTH.</span></p></li>
          <li><p><b>Đà Nẵng</b><span style="font-weight: 400">: <span>Số 280 đường Trần Hưng Đạo, phường An Hải Tây, quận Sơn Trà, ĐN.</span></span><span style="font-weight: 400"></span></p></li>

        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>LINKS</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="https://codegym.vn/tai-sao-nen-chon-codegym/">Tại sao chọn CodeGym?</a></li>
          <li class="mb-2"><a href="https://codegym.vn/hoc-vien">Học viên CodeGym</a></li>
          <li class="mb-2"><a href="https://codegym.vn/bao-chi-noi-ve-codegym/">Báo chí</a></li>
          <li class="mb-2"><a href="https://codegym.vn/blog/">Blog CodeGym</a></li>
          <li class="mb-2"><a href="https://blog.codegym.vn/">Blog Học viên</a></li>
          <li class="mb-2"><a href="https://bob.codegym.vn/home">CodeGym Bob</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Guides</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/docs/5.0/getting-started/">Getting started</a></li>
          <li class="mb-2"><a href="/docs/5.0/examples/starter-template/">Starter template</a></li>
          <li class="mb-2"><a href="/docs/5.0/getting-started/webpack/">Webpack</a></li>
          <li class="mb-2"><a href="/docs/5.0/getting-started/parcel/">Parcel</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>CÁC ĐƠN VỊ</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="https://hanoi.codegym.vn/">CodeGym Hà Nội</a></li>
          <li class="mb-2"><a href="https://saigon.codegym.vn/">CodeGym Sài Gòn</a></li>
          <li class="mb-2"><a href="https://danang.codegym.vn">CodeGym Đà Nẵng</a></li>
          <li class="mb-2"><a href="https://hue.codegym.vn">CodeGym Huế</a></li>
          <li class="mb-2"><a href="https://quangtri.codegym.vn">CodeGym Quảng Trị</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Community</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="https://github.com/twbs/bootstrap/issues">Issues</a></li>
          <li class="mb-2"><a href="https://github.com/twbs/bootstrap/discussions">Discussions</a></li>
          <li class="mb-2"><a href="https://github.com/sponsors/twbs">Corporate sponsors</a></li>
          <li class="mb-2"><a href="https://opencollective.com/bootstrap">Open Collective</a></li>
          <li class="mb-2"><a href="https://stackoverflow.com/questions/tagged/bootstrap-5">Stack Overflow</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
