table {
    font-family: Arial,SansSerif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
tr:nth-child(2n+1) {
    background-color: dimgrey;
}