h1 {
    text-align: center;
    color: blue;
}
.hangcot {
    text-align: center;
    width: 100%;
}
td , th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background: yellow;
}
.maucam{
    background: orange;
}
th , .maucam {
    text-align: center;
    font-weight: 800;
}