<footer class="footer" style="background-color: #f3f8f7;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
          <img src="assets/home/logoFurama.png" alt="Furama Resort" style="max-width: 30%">
        </div>
        <address class="footer-address">
          123 Đường Furama, Thành phố Furama<br>
          Điện thoại: +123 456 789<br>
          Email: info@furama.com
        </address>
      </div>
      <div class="col-md-4">
        <h5>Liên kết nhanh</h5>
        <ul class="footer-links">
          <li><a href="#">Trang chủ</a></li>
          <li><a href="#">Các phòng và giá</a></li>
          <li><a href="#">Dịch vụ và tiện nghi</a></li>
          <li><a href="#">Đặt phòng</a></li>
          <li><a href="#">Về chúng tôi</a></li>
          <li><a href="#">Liên hệ</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Kết nối với chúng tôi</h5>
        <ul class="footer-social">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>&copy; 2023 Furama Resort. Tất cả các quyền được bảo lưu.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
