
<!--<div *ngIf="confirmPassword.value != password.value">-->
<!--  Password Don't Match Confirm Password!!!-->
<!--</div>-->
<div class="container">
  <h2>Register Form</h2>
  <form [formGroup]="rfRegister" (ngSubmit)="onSubmit()">
    <div class="form-outline">
      <input
        type="email" id="emailAddress" class="form-control form-control-lg" formControlName="email"
        [ngClass]="rfRegister.controls['email'].invalid?'is-invalid':'is-valid'">
      <!--      ngClass nó dùng để flow theo dữ liệu validate T or F -->
      <label class="form-label" for="emailAddress">Email</label>
      <div class="invalid-feedback">
        <div class="text-danger"
             *ngIf="rfRegister.controls.email?.errors?.required && rfRegister.controls.email?.touched">Please provide a
          email.
        </div>
        <div
          *ngIf="rfRegister.controls['email'].errors?.email && rfRegister.controls.email?.touched">Email must be in the
          correct format
        </div>
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="text" class="form-control" formControlName="password" #password
             [ngClass]="rfRegister.controls['password'].invalid?'is-invalid':'is-valid'">

      <div class="invalid-feedback">
        <div *ngIf="rfRegister.controls['password'].errors?.required && rfRegister.controls['password'].touched">
          Please provide a password.
        </div>

        <div *ngIf="rfRegister.controls['password'].errors?.minlength && rfRegister.controls['password'].touched">
          Please input Password min length >5.
        </div>
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Confirm Password</label>
      <input formControlName="confirmPassword" type="text" class="form-control" #confirmPassword
             [ngClass]="rfRegister.controls.confirmPassword.invalid?'is-invalid':'is-valid'">

      <div *ngIf="confirmPassword.value != password.value">
        Password Don't Match Confirm Password!!!
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="form-outline">
      <select formControlName="country" [ngClass]="rfRegister.controls['country'].invalid?'is-invalid':'is-valid'">
        <option value="" selected>-- Choose --</option>
        <option value="0">Hà Nội</option>
        <option value="1">Huế</option>
        <option value="2">Đà Nẵng</option>
      </select>
      <label class="form-label">Country</label>
      <div class="invalid-feedback">
        <div class="text-danger"
             *ngIf="rfRegister.controls.country?.errors?.required && rfRegister.controls.country?.touched">Please
          provide a
          country.
        </div>
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="form-outline">
      <label class="form-label">Age</label>
      <input type="date" class="form-control" formControlName="age"
             [ngClass]="rfRegister.controls['age'].invalid?'is-invalid':'is-valid'">

      <div class="invalid-feedback">
        <div *ngIf="rfRegister.controls.age?.errors?.required && rfRegister.controls.age.touched">
          Please provide a age.
        </div>

        <div *ngIf="rfRegister.controls?.age?.errors?.checkAge && rfRegister.controls.age.touched">
          Age must be in the correct format (Age >18)
        </div>
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
      <!--        <div *ngIf="!age.valid && (age.dirty || age.touched)">-->
      <!--          <div *ngIf="age.errors?.checkAge">-->
      <!--            Số tuổi phải lớn hơn 18-->
      <!--          </div>-->
      <!--        </div>-->


    <div class="form-outline">
      <label class="form-label">Gender</label>
      <input formControlName="gender" [value]="0" type="radio"
             [ngClass]="rfRegister.controls['gender'].invalid?'is-invalid':'is-valid'">Male
      <input formControlName="gender" [value]="1" type="radio"
             [ngClass]="rfRegister.controls['gender'].invalid?'is-invalid':'is-valid'">Female
      <input formControlName="gender" [value]="2" type="radio"
             [ngClass]="rfRegister.controls['gender'].invalid?'is-invalid':'is-valid'">LBGT
      <div class="invalid-feedback">
        <div *ngIf="rfRegister.controls['gender'].errors?.required">
          Please provide a gender
        </div>
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="form-outline">
      <label class="form-label">Phone</label>
      <input type="text" class="form-control" formControlName="phone"
             [ngClass]="rfRegister.controls['phone'].invalid?'is-invalid':'is-valid'">
      <div class="invalid-feedback">
        <div *ngIf="rfRegister.controls['phone'].errors?.required && rfRegister.controls['phone'].touched">
          Please provide a phone.
        </div>

        <div *ngIf="rfRegister.controls['phone'].errors?.pattern && rfRegister.controls['phone'].touched">
          Phone must be in the correct format
        </div>
      </div>

      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <input type="submit" value="Save" [disabled]="!rfRegister.valid">
  </form>
</div>








