<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>

<head>
    <meta charset="UTF-8">
    <title>Add Song</title>
</head>
<body>
<p>
    <a th:href="@{/music}">
        Back to Song list
    </a>
</p>
<div id="form">
    <form th:action="@{/music/save}" th:object="${song}" method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <lable>
                Name Song
            </lable>
            <input type="text" th:field="*{nameSong}"/>
        </div>
        <div>
            <lable>Performing Artist</lable>
            <input type="text" th:field="*{performingArtist}">
        </div>
        <div>
            <label>Type Music</label>
            <input type="text" th:field="*{typeMusic}"/>
        </div>
        <div>
            <label>Path Music</label>
            <input type="text" th:field="*{pathMusic}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>