<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Remove Customer</h3>
<p>
    <a th:href="@{/music}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/music/delete}" th:object="${song}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>  Name Song</label>
            <input type="text" th:field="*{nameSong}"/>
        </div>
        <div>
            <label>Performing Artist</label>
            <input type="email" th:field="*{performingArtist}"/>
        </div>
        <div>
            <label>Type Music</label>
            <input type="text" th:field="*{typeMusic}"/>
        </div>
        <div>
            <label>Path Music</label>
            <input type="text" th:field="*{pathMusic}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>