<main>
  <p class="text-center fs-3 fw-bold">Edit Form Facility</p>
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <form method="post" >
          <div class="row">
            <div class="d-flex justify-content-around">
              <button id="villaEdit" type="button" class="btn btn-outline-primary tbn-md save">
                VILLA
              </button>
              <button id="houseEdit" type="button" class="btn btn-outline-danger btn-md save">
                HOUSE
              </button>
              <button id="roomEdit" type="button" class="btn btn-outline-success btn-md save">
                ROOM
              </button>
              <input type="text" id="facilityTypeEdit"  hidden>
            </div>
            <input id="idEdit" class="form-control" hidden>
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input id="nameEdit" type="text" class="form-control">

            </div>
            <div class="mb-3">
              <label class="form-label">Area</label>
              <input id="areaEdit" type="number" class="form-control" >

            </div>
            <div class="mb-3">
              <label class="form-label">Cost</label><br>
              <input id="costEdit" type="number" class="form-control">

            </div>
            <div class="mb-3">
              <label class="form-label">Max People</label>
              <input id="maxPeopleEdit" type="number" class="form-control">

            </div>
            <div class="mb-3">
              <label class="form-label">Standard Room</label>
              <input id="standardRoomEdit" type="text" class="form-control">

            </div>
            <div class="mb-3">
              <label class="form-label">Description</label>
              <input id="descriptionEdit" type="text" class="form-control" >

            </div>
            <div id="poolAreaEdit" class="mb-3">
              <label class="form-label">Pool Area</label>
              <input id="pooEdit" type="number" class="form-control" >
            </div>
            <div id="numberOfFloorEdit" class="mb-3">
              <label class="form-label">Number Of Floor</label>
              <input id="numEdit" type="number" class="form-control" >
            </div>
            <div id="facilityFreeEdit" class="mb-3">
              <label class="form-label">Facility Free</label>
              <input id="facEdit" type="text" class="form-control" >
            </div>
            <div class="mb-3">
              <label class="form-label">Rent Type </label><br>
              <select id="rentTypeEdit" class="form-select" >
                <option></option>
              </select>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-md me-4" id="cancel">Cancel</button>
          <button type="submit" class="btn btn-primary btn-md save">Save</button>
        </form>
      </div>
    </div>
  </div>
</main>
