<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<h3>Product</h3>

<div class="notify">
    <div th:if="${success}">
<span th:text="${success}"></span>
    </div>
</div>
<form action="#" th:action="@{/product/search}" >
    <input type="text" th:name="searchNameProduct"/>
    <input type="submit" value="Search">
</form>
<p>
    <a th:href="@{/product/create}">
        Add new Product
    </a>
</p>
<table id="products">
    <thead>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Calo</th>
        <th>Product DairyIngredients</th>
        <th>Product EXP</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product, rowStat : ${productList}" th:object="${product}">
        <td th:text="*{idProduct}"></td>
        <td th:text="${product.getNameProduct()}"></td>
        <td th:text="*{caloProduct}"></td>
        <td th:text="*{dairyIngredientsProduct}"></td>
        <td th:text="*{expProduct}"></td>
        <td><a th:href="@{product/{id}/edit(id=*{idProduct})}">edit</a></td>
        <td><a th:href="@{/product/{id}/delete(id=*{idProduct})}">delete</a></td>
        <td><a th:href="@{/product/{id}/view(id=*{idProduct})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="~{/layout :: head}"></footer>
</body>
</html>