<!DOCTYPE html>
<html lang="en">
<head th:replace="/home :: header">
    <meta charset="UTF-8">
    <title>Facility Create</title>
</head>
<script>
    function myFunction(value) {
        switch (value) {
            case "1":
                document.getElementById("villa1").style.display = "block";
                document.getElementById("villa2").style.display = "block";
                document.getElementById("villa3").style.display = "block";
                document.getElementById("villa4").style.display = "block";
                break;
            case "2":
                document.getElementById("villa1").style.display = "none";
                document.getElementById("villa2").style.display = "none";
                document.getElementById("villa3").style.display = "none";
                document.getElementById("villa4").style.display = "none";
                document.getElementById("villa1").style.display = "block";
                document.getElementById("villa2").style.display = "block";
                document.getElementById("villa4").style.display = "block";
                break;
            case "3":
                document.getElementById("villa1").style.display = "none";
                document.getElementById("villa2").style.display = "none";
                document.getElementById("villa3").style.display = "none";
                document.getElementById("villa4").style.display = "none";
                document.getElementById("room").style.display = "block";
                break;
            default:
                document.getElementById("villa1").style.display = "none";
                document.getElementById("villa2").style.display = "none";
                document.getElementById("villa3").style.display = "none";
                document.getElementById("villa4").style.display = "none";
                document.getElementById("room").style.display = "none";
        }
    }
</script>
<body>
<header th:replace="/home :: head"></header>
<header th:replace="/home :: navbar"></header>
<form method="post" class="w-50 border border-2 border-success p-3 rounded form-signin" th:action="@{/facility/save}" th:object="${facility}">
    <select  id="service"   onchange="myFunction(this.value)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
            th:field="*{facilityTypes}">
        <option th:each="item : ${facilityType}"
                th:text="${item.name}"
                th:value="${item.id}">
        </option>
    </select>
    <div class="container justify-content-center">
        <label for="id">ID: <span style="color: red;"> *</span></label>
        <div class="form-group">
            <div class="form-line">
                <input id="id" th:field="*{id}" class="form-control" placeholder="Facility ID" tabindex="1" autofocus="autofocus" readonly />
<!--                <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>-->
            </div>
        </div>
        <div class="input-group" style="display: block">
            <label>Service Name</label>
            <p class="input-group-text">
                <input type="text" class="form-control" name="name" placeholder="Service Name" th:field="*{name}"/>
            </p>
        </div>
        <div class="input-group" style="display: block">
            <label> Area</label>
            <p class="input-group-text">
                <input type="text" class="form-control" name="area" placeholder="Service Area" th:field="*{area}"/>
            </p>
        </div>
        <div class="input-group " style="display: block">
            <label>Cost</label>
            <p class="input-group-text">
                <input type="text" class="form-control" name="cost" placeholder="Service Cost" th:field="*{cost}">
            </p>
        </div>
        <div class="input-group" style="display: block">
            <label>Max People </label>
            <p class="input-group-text">
                <input type="text" class="form-control" name="maxPeople" placeholder="Service Max People" th:field="*{maxPeople}">
            </p>
        </div>
        <label> Rent Type</label>
        <select  class="form-select form-select-lg mb-3"
                 aria-label=".form-select-lg example" th:field="*{rentTypes}">
            <option th:each="item : ${rentType}"
                            th:text="${item.name}"
                            th:value="${item.id}"></option>
        </select>
        <div class="input-group" id="villa1" style="display: block">
            <label>Standard Room</label>
            <p class="input-group-text">
                <input type="text" class="form-control" name="standardRoom" placeholder="Standard Room" th:field="*{standardRoom}">
            </p>
        </div>
        <div class="input-group" id="villa2" style="display: none">
            <label>Description</label>
            <p class="input-group-text">
                <input type="text" class="form-control" name="descriptionOtherConvenience"
                       placeholder="Description Other Convenience" th:field="*{descriptionOtherConvenience}">
            </p>
        </div>
        <div class="input-group" id="villa3" style="display: none">
            <label>Pool Area</label>
            <p class="input-group-text">
                <input type="text" class="form-control" name="poolArea" placeholder="Pool Area" th:field="*{poolArea}">
            </p>
        </div>
        <div class="input-group" id="villa4" style="display: none">
            <label>Number Of Floors</label>
            <p class="input-group-text">
                <input type="text" class="form-control" name="numberOfFloors" placeholder="Number Of Floors" th:field="*{numberOfFloors}">
            </p>
        </div>
        <div class="input-group" id="room" style="display: none">
            <label>Free Service</label>
            <p class="input-group-text intro">
                <input type="text" class="form-control" name="facilityFree" placeholder="Free Service" th:field="*{facilityFree}">
            </p>
        </div>
        <div class="input-group">
            <button class="btn btn-lg btn-success" type="submit" value="save">Save</button>
        </div>
    </div>
</form>


<header th:replace="/home :: footer"></header>

</body>
</html>