<main class="container-fluid">
  <div class="container d-flex justify-content-between mt-2">
    <button id="addContract" class="btn btn-primary save" routerLink="/contract/create">
      ADD CONTRACT <i
      class="fas fa-plus-square"></i>
    </button>
  </div>
  <p class="text-center fs-3 ">List Contract</p>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>No.</th>
      <th>Facility</th>
      <th>Customer</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Deposit</th>
      <th>Total</th>
      <th>Attach Facility</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr *ngFor="let c of contractList,index as i">
      <td>{{i+1}}</td>
      <td>{{c.facility.name}}</td>
      <td>{{c.customer.name}}</td>
      <td>{{c.startDate}}</td>
      <td>{{c.endDate}}</td>
      <td>{{c.deposit}}</td>
    </tr>
    </tbody>
  </table>
</main>
